#background-img2 {
  background: url("/images/WhatsApp\ Image\ 2024-10-17\ at\ 16.33.42_fd0054e2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1100px;
  z-index: -1;
}
#form_contact {
  height: 1100px;
  width: 600px;
  /* justify-content: center; */
  margin: auto;
  border: 1px solid;
  position: relative;
  background-color: blueviolet;
  border-radius: 10px;

  
}
.form1 {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#container{
    background-color: rgb(224, 219, 219);
    margin: 20px;
    height: 1055px;
    text-align: center;
    position: relative;
}
.form1 h1{
    color: rgb(4, 72, 99);
    padding-top: 30px;
    padding-bottom: 30px;
}
.form1 p{
    padding: 20px 40px;
}
.p{
    padding: 10px 20px;
}
.form2 h2{
        color:rgb(4, 86, 118) ;
        padding: 20px;
}
.form2 p{
    padding: 20px 50px;
}
#name{
    height: 40px;
    width: 30rem;
    text-align: center;
    margin: 10px 20px;
}
#email{
    height: 40px;
    width: 30rem;
    text-align: center;
    margin: 10px 20px;
}#subject  {
    height: 40px;
    width: 30rem;
    text-align: center;
    margin: 10px 20px;
}
#area{
    height: 40px;
    width: 30rem;
    font-size: 15px;
    margin: 10px 20px;
}
#submit{
    margin-top: 10px;
       height: 40px;
    width: 80px;
    font-size: 20px;
    color: aliceblue;
   background-color:  rgb(4, 93, 128) ;
}